body {
    background-color: #87cefa ;
    color: #00008B;
}

.sorkizart{
    text-align: justify;
    padding:  20px;
}

.jobbra{
    text-align: right;
    padding: 20px;
}

.jobbralepeg{
    float: right;
}

img{    
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div{
    padding-bottom: 30px 30px 30px;
}
